@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}
li{
    list-style: none;
}
#welcome header img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}
#welcome header{
    margin: 1rem 0;
    color: #C9373A;
}
#welcome{
    margin: 3rem auto;
    width: 60%;
}
#main_navigation{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#main_navigation a{
    color: #C9373A;
    text-decoration: none;
}
#latest-posts{
    width: 60%;
    text-align: center;
    margin: 3rem auto 5rem;
}
#latest-posts li a{
    text-decoration: none;
    color: black;
}
#latest-posts h2{
    margin-bottom: 2rem;
}

#latest-posts ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
#latest-posts li{
    margin: 0 10px;
    width: 30%;
    height: 200px;
}
#latest-posts .post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#latest-posts .post img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
#latest-posts h4{
    margin: 2rem 0;
}
#latest-posts .post p{
    overflow: auto;
    height: 50px;
}

#about{
    width: 100%;
    padding: 2rem 0;
    margin: 10rem auto 0;
    text-align: center;
    background-color: #C9373A;
    color: white;
}
#about p:nth-of-type(1){
    margin: 2rem 0;
}
.all-posts{
    width: 60%;
    margin: 1rem auto;
    padding: 2rem;
}
.all-posts h2{
    text-align: center;
    margin: 0 0 3rem;
}
.all-posts ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.all-posts ul li{
    width: 30%;
    list-style: none;
}
.all-posts .post a{
    text-decoration: none;
    color: black;
    text-align: center;
}
.all-posts .post img{
    width: 100%;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
}
.post .post__content h3{
    margin: 1rem 0;
}

.post .post__content p{
    overflow: auto;
    height: 3rem;
}
.post{
    margin: 0 0 2rem;
    border: #C9373A solid 3px;
    border-radius: 10px;
    padding: 2rem 1rem;
}
.summary, main{
    width: 60%;
    margin: 2rem auto;
    padding: 1rem 2rem;
}
.summary img{
    width: 40%;
    border-radius: 10px;
    margin: 1rem 0;
}
.summary article{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info time{
    text-decoration: underline white;
}
main p{
    font-size: 1.1rem;
}
.summary{
    background-color: #C9373A;
    color: white;
    border-radius: 10px;
}
main {
    border: #C9373A 2px solid;
    border-radius: 10px;
}
.summary .info a{
    cursor: pointer;
    margin-top: 30px;
    color: white;
}
.summary .info a:nth-of-type(1){
    margin-right: 1rem;
}
.summary .info div{
    margin-bottom: 3rem;
}