{% extends 'base.html' %}

{% block title %}
    All Posts
{% endblock title %}

{% block content %}
    <section class="all-posts">
        <form class="search-bar" method="POST" action="{% url 'blog:search' %}" >
            {% csrf_token %}
            <input type="search" name="search">
            <button type="submit">Search</button>
        </form>
        <h2>My collected posts</h2>
        <ul>
            {% for post in posts %}
                <li>
                    <article class="post">
                        <a href='{% url 'blog:post_detail' post.pk %}'>
                            <img src="{{ post.image.url }}" alt='{{ post.title }} image'>
                            <div class="post__content">
                                <h3>{{ post.title }}</h3>
                                <p>{{ post.content }}</p>
                                {% if fav_post == post.id %}
                                    <span>Favorite!</span>
                                {% endif %}
                                {% if read_later == post.id %}
                                    <span>Read Later!</span>
                                {% endif %}
                            </div>
                        </a>
                    </article>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock content %}