{% extends 'base.html' %}
{% load static %}

{% block title %}
    All Posts
{% endblock title %}

{% block content %}
    <section class="all-posts">
        <h2>My collected posts</h2>
        <ul>
            {% for post in posts %}
                <li>
                    <article class="post">
                        <a href='{% url 'blog:post_detail' post.slug %}'>
                            <img src="{{ post.image }}" alt='{{ post.title }} image'>
                            <div class="post__content">
                                <h3>{{ post.title }}</h3>
                                <p>{{ post.content }}</p>
                            </div>
                        </a>
                    </article>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endblock content %}