{% load static %}

<!DOCTYPE html>
<html lang="en">
{% block head %}
{% endblock head %}
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            My blog post
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>

    <header id="main_navigation">
        <h1><a href="{% url 'blog:latest_posts' %}">Mehrafarin's Blog</a></h1>
        <nav>
            <a href="{% url 'blog:posts' %}">All Posts</a> |
            <a href="{% url 'blog:new_post' %}">New Post</a>
        </nav>
    </header>

    {% block content %}
    {% endblock content %}
</body>
</html>