{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ blog.title }}
{% endblock title %}

{% block content %}
    <section class="summary">
        <h2>{{ blog.title }}</h2>
        <article>
            <img src="{{ blog.image }}" alt="{{ blog.title }} image">
            <div class="info">
                <address>By {{ blog.author }}</address>
                <div>
                    Last updated on <time>{{ blog.time }}</time>
                </div>
                <a href="{% url 'blog:delete_post' blog.slug %}" type="submit">delete post</a>
                <a href="{% url 'blog:update_post' blog.slug %}" type="submit">update post</a>
            </div>
        </article>
    </section>
    <main>
        <p>{{ blog.content }}</p>
    </main>
{% endblock content %}