{% extends 'base.html' %}
{% load static %}

{% block title %}
    My Blog
{% endblock title %}


{% block content %}

    <section id="welcome">
        <header>
            <img src="{% static 'images/me.jpg' %}" alt="Mehrafarin - The Author of This Blog">
            <h1>MEHRAFARIN'S BLOG</h1>
        </header>
        <p>Hi, i am Mehrafarin and i love to blog about tech and the world!</p>
    </section>

    <section id="latest-posts">
        <h2>My Latest Thoughts</h2>
        <ul>
            {% for post in latest_posts %}
                <li>
                    <a href="{% url 'blog:post_detail' post.pk %}">
                        <div class="post">
                        <img src="{{ post.image.url }}" alt="{{ post.title }}'s photo">
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.content }}</p>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>

    <section id="about">
        <h2>What I Do</h2>
        <p>I love programming, sports and singing :)</p>
        <p>My goal is to keep growing as a developer.</p>
    </section>

{% endblock content %}