{% extends 'base.html' %}

{% block content %}
    <div class="container new-post">
    <header id="new-options">
        <nav>
            <ul>
                <li><a href="{% url 'blog:new_author' %}">New Author</a></li>
                <li><a href="{% url 'blog:new_tag' %}">New Tag</a></li>
            </ul>
        </nav>
    </header>
    <h1>New Post</h1>
    <br>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <p>{{ field.label_tag }}</p>
            <p>{{ field }}</p>
            <p>{{ field.errors }}</p>
        {% endfor %}
        <button type="submit">save</button>
    </form>
    </div>
{% endblock content %}