{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <header id="new-options">
        <nav>
            <ul>
                <li><a href="{% url 'blog:new_author' %}">New Author</a></li>
                <li><a href="{% url 'blog:new_tag' %}">New Tag</a></li>
            </ul>
        </nav>
    </header>
    <h1>New Post</h1>
    <br>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Save</button>
    </form>
    </div>
{% endblock content %}